#editor {
  font-family: GaramondBookITC ;
  font-size: 20pt;
  user-select:  none;
  -webkit-user-select: none;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  /*width: 100%;*/
  height: calc(100% - 4em);
}

#editor #content {
  padding: 2em;
  margin: 2em;
  border: 1px solid #CCC;
  border-radius: 8px;
  height: calc(100% - 8em);
  overflow-y: auto;
  overflow-x: hidden;
}

/* Les paragraphes */
#editor #content div.paragraph {
  text-indent: 1em;
}

/* Tous les éléments textuels */
#editor #content .texel {
  position: relative;
  z-index: 1;
  margin-left: 8pt;
}
#editor #content .texel.ponct:not(.ponct-is) {
  margin-left: 0pt;
}


#editor #content .texel span.prox-tooltip {
  display: none;
  position: absolute;
  width: 200px;
  font-size: 12pt;
  cursor: pointer;
  background-color: #F0F0F0;
  z-index: 100;
}
#editor #content .texel:hover span.prox-tooltip, 
#editor #content .texel:hover span.prox-tooltip:hover {
  display: inline-block;
  top: -10px;
  left: 0;
  z-index: 1000;
}

#editor #content .mot {
  z-index: 1;
}

#editor #content .mot.selected {
  background-color: #C8EFFF;
  z-index: 1;
}

/* 
  --- Les mots en trop grande proximité ---
  Il existe pour le moment 3 sortes de proximité :
    .near    très proche
    .mid     moyennement proche
    .far     assez loin
 */
#editor #content .mot.too-close {
  background-color: #F9A3A3;
  z-index: 1;
}
#editor #content .mot.too-close.near  { background-color: #FF0000 }
#editor #content .mot.too-close.mid   { background-color: #FF7777 }
#editor #content .mot.too-close.far   { background-color: #FFEEEE }

/* UN mot en même temps en proximité et sélectionné */
#editor #content .mot.too-close.selected {
  background-color: #A3F9A3;
}


#editor #content .mot {
  cursor: vertical-text;  
}
#editor #content .wspace {
  cursor: text;
}
