#editor {
  font-family: GaramondBookITC ;
  font-size: 20pt;
  user-select:  none;
  -webkit-user-select: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  /*width: 100%;*/
  height: calc(100% - 4em);
}

#editor #content {
  padding: 2em;
  margin: 3em 2em;
  border: 1px solid #CCC;
  border-radius: 8px;
  height: calc(100% - 8em);
  overflow-y: auto;
  overflow-x: hidden;
}

/* Les paragraphes */
#editor #content div.paragraph {
  /*text-indent: 1em; SINON , AJOUTE ÇA À TOUS LES SPANS… VOIR POURQUOI */
}

/* Tous les éléments textuels */
#editor #content .texel {
  position: relative;
  display: inline-block; /* sinon, ne passent pas à la ligne */
  margin-left: 8pt;
  z-index: 1;
}

/* Les texels ayant une insécable avant */
#editor #content .texel.ponct:not(.space-before) {
  margin-left: 0pt;
}
#editor #content .texel.no-space-after + * {
  margin-left: 0px !important;
}

/*
    --- LES MOTS ---
*/
#editor #content .mot {
  z-index: 1;
}
/* Mot sélectionné */
#editor #content .mot.selected {
  background-color: #C8EFFF;
  z-index: 1;
}

/* 
  --- Les mots en trop grande proximité ---
  Il existe pour le moment 3 sortes de proximité :
    .near    très proche
    .mid     moyennement proche
    .far     assez loin
  Si la proximité se trouve avant, le mot porte la classe pxavant
  Si la proximité se trouve après, le mot porte la classe pxapres
 */
#editor #content .mot.too-close {
  z-index: 1;
  border: none;
  /*border-bottom: 1px solid red;*/
}
/* Pour marquer une proximité avant un mot avant */
#editor #content .mot.too-close.pxavant:before {
  color: pink;
  content: '⇠';
  margin-right: 4px;
  margin-left: 2px;
}
/* Pour marquer une proximité avec un mot après */
#editor #content .mot.too-close.pxapres:after {
  color: pink;
  content: '⇢';
  margin-left: 4px;
  margin-right: 2px;
}
#editor #content .mot.too-close.near
{ border-color: #FF0000 }
section#infos table td.info.near
{ background-color: #FF0000; color:white !important; }
#editor #content .mot.too-close.mid
{ border-color: #FFA531 }
section#infos table td.info.mid
{ background-color: #FFA531 }
#editor #content .mot.too-close.far
{ border-color: #1FE418 }
section#infos table td.info.far
{ background-color: #1FE418; }
#editor #content .mot.too-close.pxavant.near:before { color: #FF0000 }
#editor #content .mot.too-close.pxavant.mid:before  { color: #FFA531 }
#editor #content .mot.too-close.pxavant.far:before  { color: #1FE418 }
#editor #content .mot.too-close.pxapres.near:after  { color: #FF0000 }
#editor #content .mot.too-close.pxapres.mid:after   { color: #FFA531 }
#editor #content .mot.too-close.pxapres.far:after   { color: #1FE418 }

/* UN mot en même temps en proximité et sélectionné */
#editor #content .mot.too-close.selected {
  background-color: #A3F9A3;
}


#editor #content .mot {
  cursor: vertical-text;  
}
#editor #content .wspace {
  cursor: text;
}
