div#help {
  /* Voir aussi div.panel dans Panel.css  */
}
div#help div.searched {
  font-size: 0.85em;
  color: grey;
  text-align: right;
}
div#help span.found {
  color: blue;
}

div#help code.language-bash {
  display: block;
  background-color: #444;
  color: white;
  padding: 4px 16px;
}
