section#section-console {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 0 1em;
  width: calc(100% - 4.5em);
}
section#section-console input#console {
  position: absolute;
  display: block;
  bottom: 16pt;
  background-color: black;
  color: white;
  font-family: monospace;
  font-size: 16pt;
  width: calc(100% - 4em);
  padding: 1em;
}
section#section-console div#console-footer {
  position: relative;
  width: 100%;
  margin-left: 0;
  margin-right: 0;
}
section#section-console div#console-footer div#console-tooltip,
section#section-console div#console-footer div#console-status
{
  display: inline-block;
  position: absolute;
}
section#section-console div#console-footer div#console-tooltip {
  left: 0;
  width: 800px;
  background-color: cyan;
}
section#section-console div#console-footer div#console-status {
  right: 0;
  text-align: right;
}
