section#section-console {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 0 1em;
  width: calc(100% - 4.5em);
}
section#section-console input#console {
  position: absolute;
  display: block;
  bottom: 52pt;
  background-color: black;
  color: white;
  font-family: monospace;
  font-size: 16pt;
  width: calc(100% - 4em);
  padding: 1em;
  margin-left: 28px;
}
section#section-console div#console-footer {
  position: absolute;
  width: 100%;
  bottom: 0;
  height: 48pt;
}
section#section-console div#console-footer div#console-tooltip,
section#section-console div#console-footer div#console-status
{
  display: inline-block;
  position: absolute;
}
section#section-console div#console-footer div#console-tooltip {
  left: 48px;
  width: 1200px;
  /*background-color: #CCC;*/
  font-family: monospace;
  font-size: 14pt;
}
section#section-console div#console-footer div#console-status {
  right: 14px;
  text-align: right;
}


/*
  --- TABLE DES INFORMATIONS ---
*/
section#infos {
  position: fixed;
  top: 0;
  left: 4em;
}
section#infos table {
  font-size: 0.8em;
  /*border: 1px solid;*/
}
section#infos table tr td {
  width: 80px;
  overflow: hidden;
  text-align: center;
}
section#infos table tr#infos-line-sup td {
  height: 10px;
  margin: 0;
  padding: 0;
}
